$headerH1TextBoxWidth: 30%;
$headerH1TextSize: 1em;
$headerH1TextBoxPadding: 1em;
$headerNavListItemWidthSizes: 7%;
$headerUlBoxWidth:30%;



$sectionMainDefultWidth: 96%;
$sectionMainArticle: 100%;
$bodyContainerWidth: 100%;
$bodyContainerDisplay: inline-block;
$mainIndividualArticleWidth: 100%;



$asideFlexWidth: 25%;
$asideFlexDirection: column;
$sidebarSectionWidth: 100%;



$footerBackgroundColor: rgb(0, 0, 255);
$footerNavWidth: 50%;
$footerNavMargin: 2em;
$footerPTextMarginLeft: 2em;
$footerPTextWidth: 100%;
